// This file is included in the build if src/main.js imports it.
// Otherwise the default Material CSS file is bundled.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the app.variables.styl file
@import 'app.variables'

// Quasar Material Design Stylus
// --------------------------------------------------
// Custom App variables must be declared before importing Quasar.
// Quasar will use its default values when a custom variable isn't provided.
@import '~quasar-framework/dist/quasar.mat.styl'

.m-none
    margin 0
.mt
    margin-top 0.8rem
.mb
    margin-bottom 0.8rem
.ml
    margin-left 0.8rem
.mr
    margin-right 0.8rem
.p-none
    padding 0
.p
    padding 0.8rem